#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
ul{
  width:14%;
  margin:auto;
  border: 1px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
li{
  margin-top:9px;
  border: 1px solid blue;
  list-style: none;
}